#!/usr/bin/env python
import os
import subprocess
import sys

def main():
    parent = os.path.join(os.path.dirname(__file__), '..')
    bin = os.path.join(parent, 'share', 'PACKAGEDIR', 'bin', 'bioformats2raw')
    sys.exit(subprocess.call([bin] + sys.argv[1:]))
